xul|checkbox:not([editable="true"])>xul|*.checkbox-check {
  -moz-appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  margin: 0;
  margin-inline-end: 10px;
  background-color: #1f1f1f !important;
  background-image: linear-gradient(#383838, #333333) !important;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px 0 #333, inset 0 2px 0 0 rgba(0, 0, 0, 0.03) !important;
}

xul|*.checkbox-check[checked] {
  fill: #0080FF !important;
}

xul|menulist:not([editable="true"])>xul|*.menulist-dropmarker {
  fill: #FFFFFF !important;
}
