/* ##### TABS TOOLBAR ##################################### */

/* Hide main tabs toolbar */

/*#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}*/

/* ##### URL BAR ########################################## */

/* Hide (i) in URL bar */

#identity-icon {
	width: 0 !important;
}

/* Adjust lock icon to be closer to edge */

#identity-box {
	padding-inline-start: 2px !important;
}

/* Custom bindings.xml in same folder as userChrome, for simple URL */

#urlbar {
	-moz-binding: url("bindings.xml#urlbar") !important;
}

/* Center URL */

#urlbar .urlbar-input-box {
	text-align: center;
	margin-bottom: 1px;
}

/* Bookmark padding */

toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 1px 6px !important;
}

/* Get rid of bookmark icon */

.bookmark-item .toolbarbutton-icon {
	display: none;
}

@-moz-document url-prefix(about:),
url-prefix(chrome: //browser) {
	.checkbox-icon {
		fill: #FFFFFF !important;
	}

	.checkbox-check,
	.prefs-pane [type=checkbox]:checked+label::before,
	.prefs-pane [type=checkbox]:not(:checked)+label::before,
	.radio-check,
	input[type=checkbox] {
		-moz-appearance: none;
		width: 23px;
		height: 23px;
		border: 1px solid var(--in-content-box-border-color);
		border-radius: 2px;
		margin: 0;
		margin-inline-end: 10px;
		background-color: #1f1f1f !important;
		background-image: linear-gradient(#383838, #333333) !important;
		background-position: center center;
		background-repeat: no-repeat;
		box-shadow: 0 1px 1px 0 #333, inset 0 2px 0 0 rgba(0, 0, 0, 0.03) !important;
	}

	.checkbox-check[checked] {
		fill: #0080FF !important;
	}

	.menulist-dropmarker {
		fill: #FFFFFF !important;
	}
}

/* ##### SIDEBAR ########################################## */

/* Sidebar min and max width removal */

#sidebar {
	max-width: none !important;
	min-width: 0px !important;
}

/* Remove below if not using TreeStyleTab extension */

/* Hide splitter, when using Tree Style Tab. */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]+#sidebar-splitter {
	display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */

:root {
	--thin-tab-width: 30px;
	--wide-tab-width: 200px;
}

/*#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;
	max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	overflow: hidden !important;
	position: relative !important;
	transition: all 200ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
	transition: all 200ms !important;
	min-width: var(--wide-tab-width) !important;
	max-width: var(--wide-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
	margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}*/
